@using NHibernate.Mapping
@model WeatherWebApp.Models.CitiesModel
@{
	ViewBag.Title = "Home Page";
}

<div id="wrapper">
<ul id="menu">
        @foreach (var city in @Model.Cities)
        {
            <li>@Html.ActionLink(city.Name, "Index", new { Id = city.Id} )</li>
        }
</ul>

<h2>@Model.SelectedCity</h2>
    
    <table>
        <thead>
            <tr>
                <td>Дата</td>
                <td>Ср. влажность</td>
                <td>Ср. температура</td>
            </tr>
        </thead>
        @foreach (var forecast in @Model.Forecasts)
            {
                <tr>
                    <td>@forecast.Date</td>
                    <td>@forecast.Humidity</td>
                    <td>@forecast.Temperature</td>
                </tr>
            }
    </table>
</div>